* {
	padding: 0;
	margin: 0;
}


html,body {
	background-color: #F4F4F4;
	font-size: 14px;
	color: #3E3E3E;
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}


.head {
	padding-top: 0;
	box-sizing: content-box;
	height: 5%;
	background-color: rgb(248, 248, 248, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	display: inline-block;
	text-align: center;
}

#app {
	width: 100%;
	height: 100%;
	max-width: 640px;
	margin: 0 auto;
	position: relative;
}

.top{
	height: 120px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: flex-start;
}

.imgBox{
	/* border: #000000 1px solid; */
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.infoBox{
	/* border: red 1px solid; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5px 30px;
}

.nick{
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	
}

.remark{
	color: #A1A5AE;
	font-weight: 400;
}

.bottom{
	margin: 12px 0;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.bottom_row{
	line-height: 47px;
	margin: 0 30px;
	border-bottom: #EEEEEE 1px solid;
}
.bottom_row span{
	margin-left: 20px;
}