<!DOCTYPE html>
<html>
	<head>
		<base href="/static/" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>pay</title>
		<link href="com_css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" media="screen" href="shop/css/pay.css" />
	</head>
	<body>
		<div id='app'>
			<div id="hd">
				<div class="head">
					<i class="fa fa-angle-left" style="font-size: 1.75rem; padding:10px ;" @click="returnTo()"></i>
					<span class="title">购物车</span>
					<span></span>
				</div>
			</div>
			<!-- 收获地址切换 -->
			<div class="adress-card">
				<div class="adress-card-switch">
					<div :class="{switcher : isDelivery,switcherBlank :isDoor}" @click="switchDeli()">送货</div>
					<div :class="{switcherBlank : isDelivery,switcher :isDoor}" @click="switchDeli()">自提</div>
				</div>
				<div :class="{adress_card_add :isDelivery,hidden :isDoor}">
					<div :class="{hidden : RecvInfoC_DL.recv_name != '',jzshow: RecvInfoC_DL.recv_name == ''}"  @click="add_address()">
						<div>
						<i class="fa fa-map-marker" aria-hidden="true" style="font-size: 18px;width: 20px;"></i><span>请添加收货地址</span >
						</div>
						<i class="fa fa-angle-right" aria-hidden="true" style="font-size: 20px;width: 20px;"></i>
					</div>
					<div :class="{hidden : RecvInfoC_DL.recv_name == '',Delivery_login: RecvInfoC_DL.recv_name != ''}" @click="address_list()">
						<div>
							<span class="recvInfo" style="font-weight: 600; font-size: 14px;">学生宿舍[[RecvInfoC_DL.recv_location.building]][[RecvInfoC_DL.recv_location.dormi_num]]</span><br />
							<!-- <span class="recvInfo" style="font-weight: 600; font-size: 14px;">[[RecvInfoC_DL.recv_location.building]][[RecvInfoC_DL.recv_location.dormi_num]]</span><br /> -->
							<span class="recvInfo">[[RecvInfoC_DL.recv_name]]</span>
							<span class="recvInfo">[[RecvInfoC_DL.recv_phone]]</span>
						</div>
						<div>
							<i class="fa fa-angle-right" aria-hidden="true" style="font-size: 20px;width: 20px;padding: 10px 0 10px 10px;"></i>
						</div>
					</div>
				</div>

				<div :class="{adress_card_add :isDoor,hidden :isDelivery}">
					<span class="recvInfo" style="font-weight: 600; font-size: 14px;">[[RecvInfoB.recv_location]]</span><br />
					<span class="recvInfo">[[RecvInfoB.recv_name]]</span>
					<span class="recvInfo">[[RecvInfoB.recv_phone]]</span>
				</div>
			</div>

			<!-- 已选商品卡片 -->
			<div class="goods-list">
				<div class="goods-list-header">
					<p>已选商品（[[total]]）</p>
				</div>
				<div class="goods-list-card">
					<ul>
						<li v-for="(item,index) in shopList.list" :key="index">
							<div class="imgBox">
								<img :src=" item.src " />
							</div>
							<div class="goodInfo">
								<h4>[[ item.name ]]</h4>
								<p>×[[ item.num ]]</p>
							</div>
							<div class="goodPrice">
								<span class="price">￥[[(item.price *item.num).toFixed(2) ]]</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- pay支付方式卡片 -->
			<div class="pay-method" v-show="isDelivery">
				<div class="goods-list-header">
					<p>支付方式</p>
				</div>
				<div class="pay-method-card">
					<div style="display: flex; align-items: center; padding: 10px;">
						<i class="fa fa-smile-o" aria-hidden="true" style="font-size: 20px;display: inline-block;"></i>
						<span style="display: inline-block; padding-left: 10px;">货到付款</span>
					</div>
					<i class="fa fa-check-circle" aria-hidden="true" style="color: #FBB61C; font-size: 20px; display: inline-block; line-height: 40px;"></i>
				</div>
				<div style="padding: 10px; font-size: 12px; font-weight: 400;">
					提示：送货上门现场付款，仅支持支付宝和微信支付
				</div>
			</div>

			<div class="pay-method" v-show="!isDelivery">
				<div class="goods-list-header">
					<p>自提时间备注（仅限当天）</p>
				</div>
				<div>
					<input type="text" id="pickTime" name="time" class="pickTime" placeholder="请填写预计取货时间" v-model="RecvInfoC_DO.time" />
				</div>
				<!-- <hr style="margin: 0 10px; border-top: #F4F4F4;" /> -->
			</div>

			<form type="hidden" id="order_form" name="order_form" method="post" action="/check_pay/">
				{% csrf_token %}
				<input name="recv_method" type="hidden" id="recv_method" />
				<input name="recv_info" type="hidden" id="recv_info" />
				<input name="goods" type="hidden" id="goods" />
				<input name="dt" type="hidden" id="dt" />
				<input name="pick_time" type="hidden" id="pick_time" />


				<div class="footer">
					<div>
						<span class="totalPrice">合计：</span>
						<span style="font-size: 18px; color: #FBB61C;">¥</span><span class="sum">[[shopList.sum]]</span>
					</div>
					<div class="footer_pay" @click="submit_order" v-show="isDelivery">确认</div>
					<div :class="{footer_pay:true, footer_pay_disable :RecvInfoC_DO.time == null  }" @click="submit_order" v-show="isDoor">确认</div>
				</div>
			</form>
		</div>


		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
		<script src="com_js/vue.js"></script>
		<script src="shop/js/pay.js"></script>
		
		<!-- 后端传输数据 -->
		<script>
			app.$data.RecvInfoC_DL = {{ data_recv_infos|safe }};
		</script>

		<script>
			var key = localStorage.key(0);
			var shopList = localStorage.getItem(key);
			shopList = JSON.parse(shopList);
			app.$data.shopList.sum = shopList.sum;
			for (var i = 0; i < shopList.list.length; i++) {
				app.$data.shopList.list.push(shopList.list[i]);
			}
		</script>
	</body>
</html>
