<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link href="./css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="css/register.css" rel="stylesheet" type="text/css">
		<base href="./" />
		<title></title>
	</head>
	<body>
		<div id="page">
			<div id="hd">
				<div class="head">
					<i class="fa fa-angle-left" style="font-size: 1.75rem; padding:10px ;" @click="returnTo()"></i>
					<span class="title">注册</span>
					<span></span>
				</div>
			</div>
			<div id="bd">
				<form action="#">
					<div class="RegisterBox">
						<div class="textbox">
							<input type="text" name="id" placeholder="手机号" id="usn" v-model="usn" maxlength="11"/>
						</div>
						<hr style="margin: 0 20px; border-top: #F4F4F4;" />
						<div class="textbox">
							<input type="password" name="passwd" placeholder="密码 (长度不小于6位)" id="upw" v-model="upw"/>
							<i :class="{'fa fa-eye' : IsVisible,'fa fa-eye-slash' : IsHide }" aria-hidden="true" style="color: #555555;"
							 @click="showPsw()"></i>
						</div>
						<hr style="margin: 0 20px; border-top: #F4F4F4;" />
						<div class="textbox">
							<input type="text" name="ver_code" placeholder="验证码" id="ver_code" class="verify" maxlength="4" v-model="code"/>
							<div v-show="show" class="getVercode"  @click="getCode()">获得验证码</div>
							<div v-show="!show" class="getVercode">[[count]]s</div>
						</div>
					</div>
					<input type="button" class="btn" id="registerBtn" value="注册" @click="checkInfo()"/>
				</form>
					<div class="toLogin" @click="toLogin()" >登陆已有账号</div>
				<!-- <h4>[[usn]]</h4> -->
			</div>

		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="js/register.js"></script>


	</body>
</html>
